.header__nav {
  padding: 8px 0;
  background-color: $COLOR_BLUE_DARK;
  z-index: 999;
}

.header__nav-container {
  display: inline-block;
  cursor: pointer;
  padding: 2px;
  padding: 8px 10px;
  border: 1px solid $COLOR_WHITE_30A;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: $COLOR_WHITE;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(45deg) translate(9px, 6px);
  transform: rotate(45deg) translate(9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(8px, -8px);
  transform: rotate(-45deg) translate(9px, -8px);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 80px;
  right: 0;
  background-color: $COLOR_BLUE_DARK;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
  padding-top: 50px;
}

.sidenav a {
  padding: 25px 0;
  text-decoration: none;
  font-size: 25px;
  color: $COLOR_WHITE;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 23px 23px 18px 23px;
}

.main-nav {
  display: none;

  .main-nav__container {
    display: flex;
  }

  .main-nav__link:not(:last-child) {
    margin-right: 40px;
    line-height: 50px;

    a {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
    }
  }

  .main-nav__link:not(:last-child) a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .main-nav__link:not(:last-child) a:hover:after {
    width: 100%;
    left: 0;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav-container {
    display: none;
  }

  .main-nav {
    display: unset;
  }
}
