// FONTS
$TITLE_FONT: 'Lexend Zetta', sans-serif;
$BODY_FONT: 'Open Sans', sans-serif;

// COLORS
$COLOR_BLUE: #3a76e5;
$COLOR_BLUE_DARK: #11253a;
$COLOR_BLUE_SUPER_DARK: #0c1a29;
$COLOR_ORANGE: #f07c52;
$COLOR_PEACH: #dd6f5e;
$COLOR_GREEN: #52aa7f;
$COLOR_WHITE: #fff;
$COLOR_WHITE_50A: rgba(255, 255, 255, 0.5);
$COLOR_WHITE_30A: rgba(255, 255, 255, 0.3);
$COLOR_GRAY: #333;
$COLOR_GRAY_50A: rgba(51, 51, 51, 0.5);
