.p-relative {
  position: relative;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.d-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-40 {
  padding-top: 40px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.py-200 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.ml-auto {
  margin-left: auto;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.ml-10-n {
  margin-left: -10px;
}

.ml-15 {
  margin-left: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-200 {
  margin-bottom: 200px;
}

.mb-50-n {
  margin-bottom: -70%;
}

.mt-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.divider:after {
  content: '';
  display: block;
  height: 1px;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.08);
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.show-on-tablet,
.show-on-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .divider:after {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .show-on-tablet {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .show-on-mobile {
    display: none;
  }
  .show-on-desktop {
    display: block;
  }
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid #f07c52;
}

.flickity-page-dots .dot.is-selected {
  background: #f07c52;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
.btn {
  font-family: "Lexend Zetta", sans-serif;
}

.btn,
.h-5 {
  text-transform: uppercase;
}

.h-1 {
  font-size: 4.5rem;
  line-height: 1.11;
}

.h-2 {
  font-size: 3.5rem;
  line-height: 1.14;
  letter-spacing: -0.75rem;
  margin-left: -0.75rem;
}

.h-3 {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: -0.5rem;
  margin-left: -0.5rem;
}

.h-4 {
  font-size: 1.5rem;
  line-height: 1.33;
}

.h-5 {
  letter-spacing: 0.1875rem;
  margin-left: -0.1875rem;
  color: rgba(51, 51, 51, 0.5);
}

.h-5,
.text {
  line-height: 2;
}

.label,
.card__overlapping-author {
  font-size: 0.75rem;
}

.text-small,
.card__overlapping-desc {
  font-size: 0.875rem;
  line-height: 1.71;
  color: rgba(51, 51, 51, 0.5);
}

.text-big {
  font-size: 1.25rem;
  line-height: 1.6;
}

@media screen and (min-width: 1200px) {
  .h-2 {
    font-size: 4.5rem;
    line-height: 1.11;
  }
  .h-3 {
    font-size: 3.5rem;
    line-height: 1.14;
    letter-spacing: -0.75rem;
    margin-left: -0.75rem;
  }
  .hero__subtitle {
    margin-top: 105px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
}

.row .row {
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  padding: 0 15px;
  width: 100%;
  margin-top: 30px;
}

.col-1 {
  width: calc(1 / 12 * 100%);
}

.col-2 {
  width: calc(2 / 12 * 100%);
}

.col-3 {
  width: calc(3 / 12 * 100%);
}

.col-4 {
  width: calc(4 / 12 * 100%);
}

.col-5 {
  width: calc(5 / 12 * 100%);
}

.col-6 {
  width: calc(6 / 12 * 100%);
}

.col-7 {
  width: calc(7 / 12 * 100%);
}

.col-8 {
  width: calc(8 / 12 * 100%);
}

.col-9 {
  width: calc(9 / 12 * 100%);
}

.col-10 {
  width: calc(10 / 12 * 100%);
}

.col-11 {
  width: calc(11 / 12 * 100%);
}

.col-12 {
  width: calc(12 / 12 * 100%);
}

@media screen and (min-width: 576px) {
  .col-sm-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-sm-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-sm-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-sm-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-sm-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-sm-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-sm-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-sm-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-sm-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-sm-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-sm-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-sm-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-md-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-md-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-md-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-md-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-md-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-md-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-md-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-md-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-md-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-md-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-md-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-lg-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-lg-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-lg-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-lg-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-lg-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-lg-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-lg-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-lg-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-lg-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-lg-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-lg-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-xl-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-xl-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-xl-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-xl-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-xl-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-xl-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-xl-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-xl-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-xl-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-xl-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-xl-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1400px) {
  .col-xxl-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-xxl-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-xxl-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-xxl-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-xxl-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-xxl-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-xxl-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-xxl-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-xxl-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-xxl-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-xxl-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-xxl-12 {
    width: calc(12 / 12 * 100%);
  }
}

#header {
  background-color: #11253a;
}

#header .header__logo {
  color: #fff;
  margin-right: auto;
}

#hero,
#exclusive-offers,
#blog-and-contact {
  background-color: #11253a;
  color: #fff;
}

#hero {
  height: 100vh;
}

.hero__subtitle,
.exclusive-offers__subtitle,
.about__subtitle,
.contact__subtitle,
.footer__subtitle,
.blog__news-description,
.contact__email {
  color: rgba(255, 255, 255, 0.5);
}

.about__great-text {
  color: rgba(51, 51, 51, 0.5);
}

.blog__title-box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer {
  background-color: #0c1a29;
  color: #fff;
}

.map-container {
  max-width: 100%;
  height: 592px;
}

.contact__map {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__checklist {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__checklist-box {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.features__checklist-desc {
  font-size: 1.5rem;
  line-height: 1.33;
}

.features__checklist-img,
.contact__icon {
  vertical-align: middle;
  margin-right: 15px;
}

.blog__form {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__form .btn {
  width: 100%;
  margin-top: 15px;
  text-align: center;
}

.blog__input {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 7px 16px;
  outline: none;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  ::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0c1a29;
  }
  .contact__box {
    margin-left: 90px;
    max-width: 400px;
  }
  .blog__title {
    max-width: 477px;
  }
  .blog__title-btn {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 46px;
  }
  .blog__form {
    margin-top: 24px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .blog__form .btn {
    margin-top: 0;
    width: unset;
    text-align: left;
  }
  .blog__input {
    margin-right: 15px;
    max-width: 270px;
  }
}

.footer__link,
.footer__social {
  margin-left: -0.18rem;
}

.footer__social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-menu .footer__social:not(:last-child) {
  margin-right: 8px;
}

.footer__tos {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1199px) {
  .footer__copyright-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__tos {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__copyright {
    max-width: 194px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__copyright {
    margin-left: -10px;
  }
}

.header__nav {
  padding: 8px 0;
}

.header__nav-container {
  display: inline-block;
  cursor: pointer;
  padding: 2px;
  padding: 8px 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(45deg) translate(9px, 6px);
  transform: rotate(45deg) translate(9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(8px, -8px);
  transform: rotate(-45deg) translate(9px, -8px);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 80px;
  right: 0;
  background-color: #11253a;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: center;
  padding-top: 50px;
}

.sidenav a {
  padding: 25px 0;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.main-nav {
  display: none;
}

.main-nav .main-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav .main-nav__link:not(:last-child) {
  margin-right: 40px;
  line-height: 50px;
}

.main-nav .main-nav__link:not(:last-child) a {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.main-nav .main-nav__link:not(:last-child) a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.main-nav .main-nav__link:not(:last-child) a:hover:after {
  width: 100%;
  left: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav-container {
    display: none;
  }
  .main-nav {
    display: unset;
  }
}

.btn {
  padding: 14px 36px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  letter-spacing: -0.1875rem;
}

.btn.btn--primary {
  background-color: #f07c52;
  border: 1px solid #f07c52;
}

.btn.btn--primary-dark {
  background-color: #52aa7f;
  border: 1px solid #52aa7f;
}

.btn.btn--secondary {
  background-color: #fff;
  color: #f07c52;
  border: 1px solid #f07c52;
}

.btn.btn--secondary-dark {
  color: #fff;
  border: 1px solid #fff;
}

.btn:hover {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn.btn--primary:hover {
  background-color: #fff;
  color: #f07c52;
}

.btn.btn--primary-dark:hover {
  background-color: #11253a;
  color: #52aa7f;
}

.btn.btn--secondary:hover {
  background-color: #f07c52;
  color: #fff;
  border: 1px solid #f07c52;
}

.btn.btn--secondary-dark:hover {
  color: #11253a;
  border: 1px solid #fff;
  background-color: #fff;
}

.hero__card-box {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 100%;
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
  z-index: 1;
  overflow-x: hidden;
}

.hero__card-box img {
  width: 270px;
}

.hero__card-box .hero-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__card-box .hero__card {
  margin-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 240px;
          flex: 1 0 240px;
  text-align: left;
  color: #333;
}

.hero__card-box .hero__card .text-small {
  color: rgba(51, 51, 51, 0.5);
}

.exclusive-offers__card {
  width: 100%;
  height: 400px;
  text-align: left;
}

.exclusive-offers__card .exclusive-offers__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.exclusive-offers__overlay {
  position: absolute;
  top: 0;
  padding: 32px;
}

.exclusive-offers__overlay .exclusive-offers__country {
  color: rgba(255, 255, 255, 0.5);
}

.exclusive-offers__overlay .exclusive-offers__pricing {
  width: 144px;
  height: 144px;
  background-color: #f07c52;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
}

.adventure__card {
  max-width: 270px;
  width: 100%;
  height: 352px;
}

.adventure__card .adventure__details {
  height: 50%;
  background-color: #f5f6f8;
  padding: 24px 32px;
}

.adventure__card .adventure__img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonial__box {
  width: 313px;
  margin: 0 15px;
}

.testimonial__box:nth-child(odd) .testimonial__img {
  background-color: #3a76e5;
}

.testimonial__box:nth-child(even) .testimonial__img {
  background-color: #52aa7f;
}

.testimonial__box:nth-child(3n) .testimonial__img {
  background-color: #f07c52;
}

.testimonial__card {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.testimonial__bubble {
  padding: 48px;
  text-align: left;
  width: 100%;
  min-height: 352px;
  background-color: #f5f6f8;
}

.testimonial__bubble:before {
  content: '';
  width: 48px;
  height: 48px;
  background: url(./../img/quote.svg) no-repeat;
  position: absolute;
  top: 1px;
  left: 47px;
}

.testimonial__bubble:after {
  content: '';
  width: 32px;
  height: 32px;
  background: url(./../img/rectangle.svg) no-repeat;
  position: absolute;
  bottom: -12px;
  left: 0;
}

.testimonial__author {
  text-align: left;
  padding-bottom: 50px;
  margin-left: -15px;
}

.testimonial__img {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-right: 25px;
}

.testimonial__author-box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonial__author-box p {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.testimonial__author-box p:last-child {
  margin-top: -20px;
}

.blog__card {
  width: 100%;
  height: 480px;
  background-color: #fff;
}

.blog__desc-box {
  padding: 28px;
  height: 60%;
  color: #333;
}

.blog__author-img {
  background-color: #52aa7f;
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-top: 15px;
}

.blog__desc {
  max-width: 70%;
}

.blog__date {
  letter-spacing: 0.1875rem;
  margin-left: -0.1875rem;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.blog__date,
.blog__author {
  color: rgba(51, 51, 51, 0.5);
}

.blog__card-img {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__img-container {
  height: 40%;
}

.card__overlapping-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__overlapping-container .card__overlapping-desc {
  color: #fff;
}

.card__overlapping-container .card__overlapping-author {
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.card__overlapping-container .card__overlapping-content {
  margin-bottom: 20px;
}

.left {
  max-width: 155px;
  width: 100%;
  min-height: 230px;
  padding: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(#dd6f5e), color-stop(99.92%, #f07c52));
  background: linear-gradient(180deg, #dd6f5e 0%, #f07c52 99.92%);
  margin-right: -35%;
  z-index: 1;
}

.right {
  max-width: 270px;
  width: 100%;
  min-height: 340px;
  background: url(./../img/desert.jpg) no-repeat center/cover;
}

.feature__card .left {
  margin-right: 0;
  margin-left: -35%;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a76e5), to(#805ed7));
  background: linear-gradient(180deg, #3a76e5 0%, #805ed7 100%);
}

.feature__card .right {
  background: url(./../img/second-feature-card.jpg) no-repeat center/cover;
}

@media screen and (min-width: 768px) {
  .hero__card-box {
    -webkit-transform: translateY(110%);
            transform: translateY(110%);
  }
  .about__card-container .left {
    max-width: 185px;
    width: 100%;
    min-height: 260px;
  }
  .about__card-container .right {
    max-width: 300px;
    width: 100%;
    min-height: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .blog__img-container {
    height: 60%;
  }
  .blog__desc-box {
    height: 40%;
  }
  .blog__desc-box {
    padding: 26px 48px;
  }
  .card__overlapping-container .left {
    max-width: 270px;
    width: 100%;
    min-height: 400px;
    padding: 35px;
  }
  .card__overlapping-container .right {
    max-width: 470px;
    width: 100%;
    min-height: 592px;
  }
  .card__overlapping-desc,
  .card__overlapping-author {
    line-height: 32px;
  }
  .card__overlapping-desc {
    font-size: 20px;
  }
  .card__overlapping-author {
    font-size: 16px;
  }
}
/*# sourceMappingURL=main.css.map */