#header {
  background-color: $COLOR_BLUE_DARK;

  .header__logo {
    color: #fff;
    margin-right: auto;
  }

  .header__menu-bar {
    padding: 16px 14px;
    border: 1px solid $COLOR_WHITE_30A;
  }
}

// FOR HERO
// .card {
//   width: 270px;
//   margin: 0 15px;

//   &.carousel__card:nth-child(even) {
//     height: 300px;
//     background-color: $COLOR_BLUE;
//   }

//   &.carousel__card:nth-child(odd) {
//     height: 150px;
//     background-color: $COLOR_ORANGE;
//   }
// }
