// HERO EXCLUSIVE OFFERS
#hero,
#exclusive-offers,
#blog-and-contact {
  background-color: $COLOR_BLUE_DARK;
  color: $COLOR_WHITE;
}

.hero__subtitle,
.exclusive-offers__subtitle,
.about__subtitle,
.contact__subtitle,
.footer__subtitle,
.blog__news-description,
.contact__email {
  color: $COLOR_WHITE_50A;
}

.about__great-text {
  color: $COLOR_GRAY_50A;
}

// FOOTER
#footer {
  background-color: $COLOR_BLUE_SUPER_DARK;
  color: $COLOR_WHITE;
}

// FEATURE
.features__checklist {
  flex-wrap: wrap;
}

.features__checklist-box {
  flex-basis: 50%;
}

.features__checklist-desc {
  font-size: 1.5rem;
  line-height: 1.33;
}

.features__checklist-img,
.contact__icon {
  vertical-align: middle;
  margin-right: 15px;
}
