// HERO EXCLUSIVE OFFERS
#hero,
#exclusive-offers,
#blog,
#contact {
  background-color: $COLOR_BLUE_DARK;
  color: $COLOR_WHITE;
}

.hero__subtitle,
.exclusive-offers__subtitle,
.about__subtitle,
.contact__subtitle,
.footer__subtitle,
.blog__news-description,
.contact__email {
  color: $COLOR_WHITE_50A;
}

// FOOTER
#footer {
  background-color: $COLOR_BLUE_SUPER_DARK;
  color: $COLOR_WHITE;
}
